@charset "UTF-8";

.container{display: flex;}
/* 부모 요소에 꼭 플렉스를 쓸것이라 선언 해야한다. */

.box{
	width: 10%; height: 50%;
	background-color: purple;
	color: white;
	border: 1px solid white;
}
/* 정렬 */
#flexbox1{ justify-content: flex-start;} /* 기본값 : 왼쪽부터 배치 */

#flexbox2{ justify-content: flex-end;} /* 오른쪽부터 배치 */

#flexbox3{ justify-content: center;} /* 가운데 배치 */

#flexbox4{ justify-content: space-between;} /* 사이에 공간 추가 */

#flexbox5{ justify-content: space-around;} /* 사이에 공간 추가, 양끝 밖에도 공간 추가 */

#flexbox6{ justify-content: space-evenly;} /* 사이에 공간 추가, 양끝 밖에도 공간 추가, 그런데 사이에 있는 여백과 같은 크기로 바깥에 추가 */
