@charset "UTF-8";

.flexbox1 , .flexbox2 , .flexbox3 , .flexbox4 , .flexbox5{
	display: flex;
	width: 200px; /* 가로사이즈 */
	border: 1px solid red;
}

/* flex-wrap: wrap; 자식요소의 크기가 부모요소보다 커졌을때 자동으로 줄바꿈처리 
	그래서 안쓰면 막 구역 밖으로 빠져나오고 난리 남...*/
.flexbox1{flex-wrap: wrap; align-items: flex-start;} /* 윗변 정렬 */
.flexbox2{align-items: center;}						 /* 가운데 정렬 */
.flexbox3{align-items: flex-end;}					 /* 밑변 정렬 */
.flexbox4{align-items: stretch;} /* 기본값. 사이즈가 정해져 있지 않는 요소들이 최대값을 따라가게 된다.*/
.flexbox5{flex-wrap: wrap; align-items: baseline;}   /* 모든 요소들 중 밑변 기준으로 정렬 */

.box1 , .box2, .box3, .box4, .box5, .box6{
		background-color: black;
		color: white;
		border: 1px solid white;
}

.box1{ width: 50px; height: 50px;}
.box2{ width: 100px; height: 100px; 
	display: inline-block; align-items: center;}

.box4{ width: 50px; height: 80px;}
.box5{ width: 100px; height: 150px; 
	display: inline-flex; align-items: center;}

