@charset "UTF-8";

.wrap{
	width: 1000px; height: 600px; /* 가로세로 사이즈 */
	background-image: url("img/메이플.jpg"); /* 구역사이즈 필수 */
	background-repeat: no-repeat; /* 만일 배경이미지보다 구역사이즈가 더 크면 채우기 기능 */
	background-size: 100%; /* 배경사이즈를 구역 사이즈에 맞춤 */
	margin: 0 auto; /* 구역가운데 정렬 */
	position: relative;
}

/* 유저 구역 */
.userbox{
	width: 100px; height: 100px;
	background-image: url("img/히어로.webp");
	background-repeat: no-repeat;
	background-size: 100%;
	/* position 으로 위치변경 */
	position: absolute;
	top: 437px; left: 400px;
}







































