@charset "UTF-8";

/* -------------- 공통부문 css 기본값제거 -------------- */
/* 바깥.안쪽 여백 제거, 구역사이즈기준 : 테두리 기준*/
*{
	padding: 0px; 
	margin: 0px; 
	font-family: 'NanumSquareNeo-Variable';
	box-sizing: border-box;
}
/* li 태그의 기본값 제거 */
li{list-style-type: none;}
/* a 태그의 기본값 제거 */
a{color: black; text-decoration: none;}
/* 외부 폰트 [눈누] */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 웹 컨텐츠 사이즈 설정 */
.webcontainer{ width: 1100px; margin: 0 auto; }
/* 테마 색상 */
/*
#142615 녹색 계열 검정
#415936 진녹색
#4F7336 녹색
#A6775B 자주빛 갈색
#593122 붉은빛 갈색
#eeeeee 배경색 밝은 회색
*/

/* -------------- 공통부문 css 기본값제거 end -------------- */

#header{
	display: flex;
	align-items: center;
	justify-content:  space-around;
	margin: 20px 0px 50px 0px;	
}

/* ------------------ 로고구역 ------------------ */
.mainlogo{ 
	width: 5%;
	
}
.mainlogo img{
	width:100%;
	
}


/* ------------------ 본메뉴 구역 ------------------ */
.mainmenu{ 
	display: flex;
	font-size: 20px;
	align-items: center;
}
.mainmenu li{
	margin-right: 15px;
	
}

/* ------------------ 서브메뉴 구역 ------------------ */
.submenu{ 
	display: flex;
	font-size: 13px;
	align-items: center;
}
.submenu li{
	margin-right: 10px;
}

.hmimg{
	width: 50px; height: 50px;
	border-radius: 50%;
	border: solid #D0CACD 2px;
}















