@charset "UTF-8";

/* 키오스트 전체 구역 */
.kioskwrap{
	font-family:'TheJamsil5Bold';
	width: 700px; height: 1000px;
	margin: 50px auto;
}

/* 키오스크 헤더구역 이미지 */
.himg{
	width: 100%;
	/* 비율 깨질때 맞추기 그러나 이미지 깨질수 있음. */
	object-fit: cover;
}

/* 카테고리 */
.categorymenu{
	display: flex; /* 하위 요소의 가로배치 */
	justify-content: space-around;
	padding-top: 10px;
}


/* 선택 안된 카테고리 */
.categorymenu li{
	color: gray;
}

/* 선택 된 카테고리 */
.categoryselect{
	color: red !important; /* 겹칠때 !important 작성하면 우선순위 */
	border-bottom: 3px solid red;
	padding-bottom: 3px;
}

/* 제품들이 출력되는 구역 */
.productbox{ 
	height: 450px; 
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll; /* 만약에 자식 요소들이 현재 구역보다 더 커지면 ?! */
}

/* 제품 1개에 대한 CSS */
	/* 전체의 가로 사이즈가 700px; 나누기 가로당 제품 수  */
.product{ 
	width: 30%; 
	text-align: center; 
	margin: 5px 10px 30px 10px;
}
.product img { width: 100%; }
.product .pprice{ color: red; }


/* 장바구니 출력 구역 */
.cartbox{ height: 250px; }













