@charset "UTF-8";

/* -------------- 공통부문 기본값제거 -------------- */
*{padding: 0px; margin: 0px;}
li{list-style-type: none;}
a{color: black; text-decoration: none;}



#wrap{
   width:600px;
   margin: 0 auto;
}

.back_btn{
   border-radius: 30px;
   width: 90px;
   padding: 5px;
   border: 1px solid #EFEFEF;
   background-color: white;
   margin-top: 50px;
}

#content{
   width:600px;
   text-align: center;
}


.main_logo{
   /* text-align: center; */
   margin: 20px;
}

.main_logo img{
   width: 150px;
   margin-bottom: 20px;
}

.main_content{
   padding:0px;
   width:460px;
   margin:0 auto;
}

.main_content h1{
   text-align: left;
   font-size: 22px;
   margin-bottom: 20px;
}

.main_content p{
   margin-bottom: 40px;
   text-align: left;
}

.main_content .kakao_box{
   display: flex;
   background-color: #FEE500;
   height:60px;
   justify-content: space-around;
   position: relative;
}

.kakao_box .kakao_icon{
   text-align: left;
   position: absolute;
   top:10px;
   left:20px;
}

.main_content .kakao_btn{
   width: 300px; 
   border: none;
   background-color: #FEE500;
   font-weight: bold;
   font-size: 15px;
   vertical-align: middle;
   height:60px;
}

.main_content .img_list{
   width:460px;
}

.main_content .or{
   color: #B9B2B2;
   font-size: 13px;
   margin-bottom: 30px;
   position: relative;
}

.or .line{
   position: relative;
   bottom: 5px;
}

.main_content .join{
   font-weight: bold;
   font-size: 13px;
   margin-bottom: 30px;
}

#footer{
   margin: 20px;
   border-top: 2px solid black; 
}

.ft_content p{
   margin-top: 20px;
   font-size: 14px;
   margin-bottom: 10px;
}

.ft_content .bold{
   font-weight: bold;
}

.ft_content .final_text{
   font-size: 12px;
   color:#8F918F;
}