@charset "UTF-8";

/* -------------- 공통부문 기본값제거 -------------- */
*{padding: 0px; margin: 0px;}
li{list-style-type: none;}
*:focus { outline: none;}


/* -------------- 전체 레이아웃 배치 -------------- */

.wrap{
	display: flex;
	width: 1200px;
	margin: 0 auto;
	margin-top: 100px;
}

.write, .list, .view{
	border-top: solid 2px #eeeeee;
	border-bottom: solid 2px #eeeeee;
	border-right: solid 2px #eeeeee;
	width: 400px;
	padding: 10px 10px;
}

/* -------------- 글쓰기 페이지 -------------- */
.write{
	border-left: solid 2px #eeeeee;
	display: flex;
	flex-direction: column;
	font-weight: bold; 
	font-size: 15x;
}

h3{
	margin: 10px 10px;
	border-left: solid 5px #A0BCC7;
	padding-left: 10px;
}

.write input{
	margin-top: 3px;
	border: solid 0.5px #A9A8AA;
}

.write_user, .write_pw, .write_title{
	height: 20px;
}

.write_body{
	height: 100px;
	margin-bottom: 10px;
	
}

.write button{
	font-weight: bold; 
	font-size: 15x;
	background-color: #A0BCC7;
	height: 30px;
	border: none;
}

.write button:hover {
	background-color: #3F5E69;
	color: white;
	font-weight: bold; 

}

/* -------------- 글목록 페이지 -------------- */
.list_table button{
	border: none;
	background-color: white;
	font-size: 16px;
}

.list_table{
	text-align: center;
}

.list_table button:hover{
	font-weight: bold; 
}


/* -------------- 글보기 페이지 -------------- */
.view{
	position: relative;
}

.delete{
	font-weight: bold; 
	font-size: 15x;
	background-color: #A0BCC7;
	width: 380px; height: 30px;
	border: none;
	position: absolute;
	bottom: 10px;
}


.delete:hover{
	background-color: #3F5E69;
	color: white;
	font-weight: bold; 
}